@charset "utf-8";
body,
h1,
h2,
h3,
ul,
li,
p {
    margin: 0;
    margin: 0;
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #4c4c4c;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
}

ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

header {
    display: flex;
    width: 960px;
    height: 100px;
    background-color: white;
    align-items: center;
    border-right: 1px solid #000;
    justify-content: space-between;
}
h1 {
    margin: 10px;
}
.menu-item li {
    padding: 10px 15px;
    background: #000;
    color: #fff;
    border-left: 1px solid #fff;
    box-sizing: border-box;
    width: 20%;
    text-align: center;
    margin-right: 100px;
}

.menu-item {
    list-style: none;
    display: inline-block;
    padding: 10px;
}
